html
	body(style="background-image: url('images/addUserBackground.jpg');background-position:center")
		div(style='margin:15px')
			h1(style='text-align:center;color:white') Super Nifty User Deletion
			br
			div(class='col-md-5')
				.well(style="background-color: rgba(78, 93,108,0.5);")
					h3(style="color:white;text-align:center") User Information:
					br
					form(action='/removeuser', method='POST')
						.input-group
							span#basic-addon1.input-group-addon Username: 
							input.form-control(type='text', pattern="^[0-9a-zA-Z]+$",placeholder='Username', name='username', aria-describedby='basic-addon1')
						br
						.input-group
							span#basic-addon1.input-group-addon Country Abbreviation:
							input.form-control(type='text', pattern="^[0-9a-zA-Z]+$",placeholder='US...', name='country', aria-describedby='basic-addon1')
						br
						center
							input(class="btn btn-default" type="submit" value="Submit" action='/removeuser')
link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css')
link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.theme.min.css')
script(src='/javascripts/jquery.js')
script(src='/javascripts/bootstrap.min.js')
