doctype html(lang='en')
html
	head
		meta(charset='utf-8')
	body(style="font-size:100%")
		#map
		//
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					// Brand and toggle get grouped for better mobile display
					// Collect the nav links, forms, and other content for toggling
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(href='#')
									| Blogs
									span.sr-only (current)i
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| Options
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Action
									li
										a(href='#') Another action
									li
										a(href='#') Something else here
									li.divider(role='separator')
									li
										a(href='#') Separated link
									li.divider(role='separator')
									li
									a(href='#') One more separated link
		img(id="logo" alt="logo" src="/images/black_transparent_logo.png" class="logoImg")
		div(id='searchdiv' class="buttonSearchDiv")
			button(id="searchButton" class="btn btn-default btn-lg searchbutton") Search
		div(id='search')
			section(id='searchbox1' class='hiddensearchbox1')
				div(class="searchdiv" id="searchdiv1")
					input(type="text" placeholder="Search schools..." style="height:100%")
			section(id='searchbox2' class='hiddensearchbox2')
				div(class="searchdiv" id="searchdiv2")
					input(type="text" placeholder="I'm from..." style="height:100%")
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css')
		link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.theme.min.css')
		link(rel="stylesheet" type="text/css" href='/stylesheets/style.css')
		link(rel="stylesheet" href='/stylesheets/fancyInput.css')
		script(src='/javascripts/d3.js')
		script(src='/javascripts/topojson.js')
		script(src='/javascripts/map.js')
		script(src='/javascripts/uitransitions.js')
		script(src='/javascripts/fancyInput.js')
