doctype html(lang='en')
<<<<<<< HEAD
html
	head
		meta(charset='utf-8')
	body(style="font-size:100%")
		#map
		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					a.navbar-brand(href='#' style="padding:0px")
						img(alt="logo" src="/images/black_transparent_logo.png" style="height:100%")
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#')
								| Blogs
								span.sr-only (current)i
						li
							a(href='#' id="searchButton")
								| Search
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Options
								span.caret
							ul.dropdown-menu
								li
									a(href='#') Action
								li
									a(href='#') Another action
								li
									a(href='#') Something else here
								li.divider(role='separator')
								li
									a(href='#') Separated link
								li.divider(role='separator')
								li
									a(href='#') One more separated link
		div(style="position:absolute;top:80%;width:100%;height:10%")
			button(id="findHome" class="btn btn-primary btn-lg") Ready to Search
		div(id='search' style="display:none")
			section(id='searchbox1' class='searchbox1')
				div(class="searchdiv" id="searchdiv1")
					input(type="text" placeholder="Search schools..." style="height:100%")
			section(id='searchbox2' class='searchbox2')
				div(class="searchdiv" id="searchdiv2")
					input(type="text" placeholder="I'm from..." style="height:100%")
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css')
		link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.theme.min.css')
		link(rel="stylesheet" type="text/css" href='/stylesheets/style.css')
		link(rel="stylesheet" href='/stylesheets/fancyInput.css')
		script(src='/javascripts/d3.js')
		script(src='/javascripts/topojson.js')
		script(src='/javascripts/map.js')
		script(src='/javascripts/uitransitions.js')
		script(src='/javascripts/fancyInput.js')
