html
	body(style="background-image: url('images/addUserBackground.jpg');background-position:center")
		div(style='margin:15px')
			div(class='col-md-12')
				.well(style="background-color: rgba(78, 93,108,0.5);")
					h1(style="color:white;text-align:center") User Panel
					br
					a(href="./addUser" style="color:white") Add Users
					br
					a(href="./deleteUser" style="color:white") Delete Users
					br
					a(href="./signup" style="color:white") Add Admins
link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css')
link(rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.theme.min.css')
link(rel="stylesheet" type="text/css" href='/stylesheets/dropzone.css')
script(src='/javascripts/jquery.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/jquery.geocomplete.js')
